@import "../../scss/variables.scss";

.record-content-container {
  padding-top: 40px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.big-box .content {
  display: flex;
  align-items: flex-start;
  height: 120px;
}

.vital-signs-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

.view-record-test-button {
  height: 32px;
  padding: 0px 24px 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid var(--color-border-brand);
}

.view-record-test-button:hover {
  background-color: #e5e9fa;
}

.view-record-test-button .button-inner {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-brand);
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-size: 14px;
}

.add-test-button {
  background-color: var(--color-brand-1);
  width: 64px;
  padding: 6px 16px 6px 16px;
}

.add-test-button:hover {
  background-color: whitesmoke;
}

.add-test-button .button-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);
}

.visit-date-container {
  min-width: 100px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: auto;
  border: 1px solid var(--color-border-secondary);
  border-radius: 8px;
  height: 24px;
  color: var(--color-text-secondary);
  font-family: var(--font-family);
  font-size: 16px;
}

.add-treatment-button {
  background-color: var(--color-brand-1);
  width: auto;
  padding: 6px 16px 6px 16px;
}

.add-treatment-button .button-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  gap: 8px;
  color: var(--color-text-primary);
}

.add-treatment-button:hover {
  background-color: whitesmoke;
}

.treatment-text-box {
  border: 1px solid var(--color-border-secondary);
  padding: 12px;
  border-radius: 8px;
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-size: 16px;
}

.add-treatment-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.treatment-text-box-focus {
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-primary);
}

.treatment-text-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-family);
}

.treatment-text-box::placeholder {
  color: var(--color-text-secondary);
}

.text-box-filled {
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-primary);
}

.add-test-modal .MuiBox-root {
  border-radius: 8px;
  padding: 24px 24px 24px 24px;
  width: 552px;
  height: 232px;
  border: 0px;
}

.add-test-modal {
  padding: 24px;
}

.modal-title-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: var(--font-family);
}

.input-row {
  width: 100%;
  display: flex;
  gap: 32px;
  align-items: center;
}

.add-test-modal-custom-text-input {
  width: auto;
}

.upload-test-image {
  width: 100%;
  height: 200px;
  border: 1px dashed var(--color-border-secondary);
}

.add-test-modal-title {
  font-weight: 600;
  font-family: var(--font-family);
}

.upload-test-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
}

.add-test-modal-button-rows {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.upload-test-image-title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
}

.upload-test-image-description {
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--color-text-secondary);
}

.upload-file-button .button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-file-button {
  width: auto;
}

.add-test-modal-button-rows {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.add-test-modal-button-rows .save-button {
  padding: 0 0 0 0;
  width: 200px;
  height: 48px;
  background-color: #586ee0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-test-modal-button-rows .save-button:hover {
  background-color: #344abb;
}

.add-test-modal-button-rows .background-disable {
  background-color: var(--color-surface-secondary) !important;
  cursor: auto;
}

.add-test-modal-button-rows .background-disable:hover {
  background-color: var(--color-surface-secondary) !important;
}

.add-test-modal-button-rows .save-button-inner-disable {
  color: var(--color-text-secondary);
}

.uploaded-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.add-record-buttons .background-disable:hover {
  background-color: var(--color-surface-secondary) !important;
  cursor: auto;
}
