@import "../../scss/variables.scss";

.record-content-container {
  padding-top: 40px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.big-box .content {
  display: flex;
  align-items: flex-start;
  height: 120px;
}

.vital-signs-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

.view-record-test-button {
  height: 32px;
  padding: 0px 24px 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid var(--color-border-brand);
}

.view-record-test-button:hover {
  background-color: #e5e9fa;
}

.view-record-test-button .button-inner {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-brand);
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-size: 14px;
}

.add-test-button {
  background-color: var(--color-brand-1);
  width: 64px;
  padding: 6px 16px 6px 16px;
}

.add-test-button:hover {
  background-color: whitesmoke;
}

.add-test-button .button-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);
}

.visit-date-container {
  max-width: 96px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: auto;
  border: 1px solid var(--color-border-secondary);
  border-radius: 8px;
  height: 24px;
  color: var(--color-text-secondary);
  font-family: var(--font-family);
  font-size: 16px;
}

.add-treatment-button {
  background-color: var(--color-brand-1);
  width: auto;
  padding: 6px 16px 6px 16px;
}

.add-treatment-button .button-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  gap: 8px;
  color: var(--color-text-primary);
}

.add-treatment-button:hover {
  background-color: whitesmoke;
}

.record-buttons-box {
  margin-bottom: 200px;
}

.treatment-text-box {
  border: 1px solid var(--color-border-secondary);
  padding: 12px;
  border-radius: 8px;
  color: var(--color-text-secondary);
  font-family: var(--font-family);
  font-size: 16px;
}

.add-treatment-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}
