.page-content-container {
  margin-left: 24px;
  margin-top: 24px;
  margin-right: 16px;
  margin-bottom: 32px;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.content-header {
  font-size: 32px;
  height: 48px;
  font-weight: 600;
  font-family: Be Vietnam Pro;
  /* background-color: aqua; */
  justify-content: space-between;
  display: flex;
}

.content-item-list {
  padding-top: 16px;
  padding-bottom: 16px;
  /* background-color: bisque; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 32px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.search-bar-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  width: 344px;
  gap: 12px;
  border-radius: 8px;
  border: 2px solid #e5e7eb;
}

.search-bar-input {
  height: 24px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: Be Vietnam Pro;
}

.filter-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #e5e9fa;
  width: 50px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: Be Vietnam Pro;
  cursor: pointer; /* Change cursor to hand when hovered */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.filter-button:hover {
  background-color: #aabbcc;
  color: #324257; /* Darker text color for hover */
}

.sex-box-male {
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #e5e9fa;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
}

.sex-box-female {
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fae5e5;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
}

.page-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: absolute;
  margin-left: 288px;
  /* margin-left: 16px;
  margin-right: 16px; */
  left: 0;
  right: 0;
  bottom: 32px;
}

.page-number {
  padding: 0 0 0 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px !important;
  background-color: #586ee0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  color: white;
}

.page-number-unselected {
  padding: 0 0 0 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px !important;
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number-unselected:hover {
  background-color: #e5e9fa !important;
}

.page-number-unselected-inner {
  color: black !important;
  font-family: Be Vietnam Pro !important;
  font-size: 16px !important;
}

.arrow-right {
  padding: 0 0 0 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px !important;
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right:hover {
  background-color: #e5e9fa !important;
}

.svg-icon {
  stroke: #ff0000;
  transition: stroke 0.3s ease;
}

.svg-icon:hover {
  stroke: #ff0000;
}
