.button-container {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 85px;
  background-color: #586ee0;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-container:hover {
  background-color: #344abb;
}

.button-container-clicked {
  background-color: #344abb;
}

.button-inner {
  display: flex;
  justify-content: space-between;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: Be Vietnam Pro;
  color: white;
}

.button-disable {
  cursor: default;
  background-color: white !important;
  transition: none !important;
}

.button-disable:hover {
  background-color: white !important;
}
