@import "./scss/colors.scss";

body {
  margin: 0px;
}

.app-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
}

.second-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

.page-content {
  border: 1px solid var(--color-border-tertiary);
  border-bottom: none;
  border-left: none;
  height: calc(100vh - 83px);
  max-width: 100vw;
  position: relative;
  z-index: 3;
  overflow-y: auto;
}
