:root {
  --color-brand-1: #e5e9fa;
  --color-brand-2: #586ee0;
  --color-brand-3: #3d57db;

  --color-text-primary: #0d0c0c;
  --color-text-secondary: #8c949d;
  --color-text-tertiary: #a5a7af;
  --color-text-brand: #586ee0;
  --color-text-invert: #e5eaee;
  --color-text-error: #e05858;
  --color-text-success: #1bc52c;

  --color-icon-primary: #0d0c0c;
  --color-icon-secondary: #8c949d;
  --color-icon-tertiary: #a5a7af;
  --color-icon-brand: #586ee0;
  --color-icon-invert: #e5eaee;
  --color-icon-error: #e05858;
  --color-icon-success: #1bc52c;

  --color-border-primary: #0d0c0c;
  --color-border-secondary: #8c949d;
  --color-border-tertiary: #a5a7af;
  --color-border-brand: #586ee0;
  --color-border-error: #e05858;
  --color-border-success: #1bc52c;

  --color-surface-primary: #e5eaee;
  --color-surface-secondary: #f6f6f9;
  --color-surface-tertiary: #e5eaee;
  --color-surface-invert: #0d0c0c;
  --color-surface-brand: #586ee0;
  --color-surface-accent: #e5e9fa;
  --color-surface-success: #f2fdf3;
  --color-surface-error: #fae5e5;
}
