.header-grid-item {
  height: 7.8125vh;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid #e5e7eb;
}

.header-container {
  width: 95.83%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  margin-top: 1.171875vh;
  margin-bottom: 1.171875vh;
  height: 5.46875vh;
}

.header-inner {
  margin-left: 80%;
  display: flex;
  align-items: center;
  height: 100%;
}

.user-menu {
  justify-content: flex-start;
  align-items: center;
  gap: 6.55%;
  display: flex;
}

.text {
  font-size: 1.5625vh;
  font-family: Be Vietnam Pro;
}
