.header-grid-item {
  height: 80px;
  padding-top: 1px;
  padding-bottom: 1px;
  /* position: sticky; */
}

.header-container {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: white;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 256px;
}

.user-menu {
  width: 183px;
  justify-content: flex-start;
  align-items: center;
  gap: 6.55%;
  display: flex;
  border-left: 2px solid #e5e7eb;
}

.text {
  font-size: 1.5625vh;
  font-family: Be Vietnam Pro;
}

.header-route-names {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 16px;
  font-family: Be Vietnam Pro;
  height: 100%;
}

.header-route-text-container {
  display: flex;
  font-weight: 400;
}

.header-route-text-current-route {
  color: #586ee0;
}

.header-route-text-non-current-route-container {
  display: flex;
  color: #8c949d;
}

.header-route-text-non-current-route {
  color: #8c949d;
}

.header-route-text-non-current-route:hover {
  text-decoration: underline;
  cursor: pointer;
}
