.header-grid-item {
  height: 80px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid #e5e7eb;
}

.header-container {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: white;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 256px;
}

.user-menu {
  width: 183px;
  justify-content: flex-start;
  align-items: center;
  gap: 6.55%;
  display: flex;
  border-left: 2px solid #e5e7eb;
}

.text {
  font-size: 1.5625vh;
  font-family: Be Vietnam Pro;
}
