.MuiPickersFadeTransitionGroup-root {
  font-family: Be Vietnam Pro;
}

.MuiTypography-root {
  font-family: Be Vietnam Pro;
}

.MuiPickersDay-root {
  font-family: Be Vietnam Pro;
}

.Mui-selected {
  background-color: #586ee0 !important;
}
