.doctor-detail-content {
  padding-top: 42px;
  padding-bottom: 16px;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 32px;
}

.avatar-text {
  font-family: Be Vietnam Pro;
  font-size: 14px;
}

.avatar-box {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.avatar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.box {
  display: flex;
  gap: 32px;
}

.box-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.box-item .box-item-focus {
  border: 2px solid var(--color-border-primary) !important;
  transition: border 0.05s ease;
}

.box-item .content {
  padding: 12px 20px 12px 20px;
  display: flex;
  gap: 12px;
  border: 1px #a5a7af solid;
  height: 24px;
  border-radius: 8px;
  font-family: Be Vietnam Pro;
}

.content-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Be Vietnam Pro;
}

.title {
  font-size: 14px;
  font-family: Be Vietnam Pro;
}

.buttons-box {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-bottom: 200px;
}

.buttons-box .cancel-button {
  padding: 0 0 0 0;
  width: 200px;
  height: 48px;
  border: 1px #586ee0 solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-box .cancel-button:hover {
  background-color: #e5e9fa;
}

.buttons-box .cancel-button-inner {
  color: #586ee0;
  font-size: 16px;
}

.buttons-box .save-button {
  padding: 0 0 0 0;
  width: 200px;
  height: 48px;
  background-color: #586ee0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-box .save-button:hover {
  background-color: #344abb;
}

.buttons-box .save-button-inner {
  color: white;
}

.input::placeholder {
  color: #8c949d;
}

.content-input::placeholder {
  color: #8c949d;
}

.multi-option-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.multi-option-box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multi-option-box-item .MuiTypography-root {
  font-size: 14px;
  font-family: Be Vietnam Pro;
}

.multi-option-box-item-unchecked .MuiTypography-root {
  font-size: 14px;
  font-family: Be Vietnam Pro;
  color: #8c949d;
}

.multi-option-box-item .MuiCheckbox-root {
  padding: 0 0 0 0;
}

.MuiFormControlLabel-root {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 12px 12px 12px 12px;
  display: flex;
  gap: 8px;
}

.multi-option .add-button {
  padding: 0 16px 0 16px;
  width: 77px;
  height: 40px;
  border: 1px #586ee0 solid;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-option .button-inner {
  color: #586ee0;
  gap: 8px;
  font-size: 16px;
}

.multi-option .add-button:hover {
  background-color: #e5e9fa;
}

.doctor-menu-item {
  width: 100%;
}

.menu-container {
  overflow: hidden;
  max-height: 0;
  width: 100%;
  transition: max-height 0.3s ease;
}

.menu-container.open {
  max-height: 276px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.menu-content {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.dropdown-menu-list {
  overflow-y: auto;
  max-height: 276px;
}

.dropdown-item {
  width: 100%;
  height: 24px;
  padding: 16px 0px 16px 42px;
  font-size: 16px;
  font-family: Be Vietnam Pro;
  color: #8c949d;
}

.dropdown-item:hover {
  background-color: #e5e9fa;
  color: black;
}

.dropdown-search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  border-bottom: 1px solid #d1d5db;
}

.dropdown-search-bar .search-bar-input {
  color: #8c949d;
  font-family: Be Vietnam Pro;
}
